<nav class="teal darken-3">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center"><b>Koya</b></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            
            <li><a class="nav-links" href="/stories"><b>Public Stories</b></a></li>
            <li><a class="nav-links"href="/dashboard"><b>Dashboard</b></a></li>
            <li><a class="nav-links"href="/auth/logout"><b>Logout</b></a></li>
            <br>
           
        </ul>
    </div>
</nav>