<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koya App Login</title>
          <link rel = "icon" href =  
"image/koya.JPG" 
        type = "image/x-icon"> 
          
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body style="background-color: seagreen;">
    <div class="container login-container" >
        <div class="card">
            <div class="card-content">
                {{{body}}}
                {{!-- all the content that we place in body tag of any view that have layout/login.hbs as a default folder  will be wrapped inside it --}}
                {{!-- but as the default folder is set layout/main.hbs so no view will be able to use this layout until we perosnally make the defualt laoyout as this one for that particular view --}}
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>