<div class="card-content-login">
<h1><i class="fas fa-feather"></i> Koya</h1>
<div class="section">
    <p class="lead">
        <i><b>create your own stories , explore your imagination .</b></i>
    </p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="auth/google" class="btn #adf802 darken-1" >
        <i class="fab fa-google left"></i>Login With Google
    </a>
</div></div>