body {
	color: grey;
}
.login-container {
	width: 400px;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
p {
	margin: 10px !important;
	/* to override materlialize css */
}
